@import "tailwindcss";

:root {
    --Headbanner_item1-transform: translateX(0);
    --Headbanner_item2-transform: translateX(200%);
    --Headbanner_item3-transform: translateX(-200%);
    --Mainitem-filter: blur(0);
    --Sideitem-filter: blur(16px);
    --Mainitem-shadow: 0 0 40px 10px rgb(100, 84, 84);
    --Sideitem-shadow: 0 0 0 #000;
    --Mainitem-width: 100%;
    --Sideitem-width: 100%;
    --Mainitem-brightness: 100%;
    --Sideitem-brightness: 75%;
}

@media(min-width: 1280px) {
    :root {
        --Mainitem-width: 60%;
        --Sideitem-width: 20%;
    }
}

.Head_Banner .Head_Banner_List .Head_side_Banner:nth-child(1) {
    transform: var(--Headbanner_item1-transform);
    filter: var(--Mainitem-filter) brightness(var(--Mainitem-brightness));
    box-shadow: var(--Mainitem-shadow);
    width: var(--Mainitem-width);
}

.Head_Banner .Head_Banner_List .Head_side_Banner:nth-child(2) {
    transform: var(--Headbanner_item2-transform);
    filter: var(--Sideitem-filter) brightness(var(--Sideitem-brightness));
    box-shadow: var(--Sideitem-shadow);
    width: var(--Sideitem-width);
}

.Head_Banner .Head_Banner_List .Head_side_Banner:nth-child(3) {
    transform: var(--Headbanner_item3-transform);
    filter: var(--Sideitem-filter) brightness(var(--Sideitem-brightness));
    box-shadow: var(--Sideitem-shadow);
    width: var(--Sideitem-width);
}

.Head_Banner.Next .Head_Banner_List .Head_side_Banner:nth-child(1) {
    z-index: 2;
    animation: GotoItem3 1s ease-in-out 1 forwards;
}

.Head_Banner.Next .Head_Banner_List .Head_side_Banner:nth-child(2) {
    z-index: 3;
    animation: GotoItem1 1s ease-in-out 1 forwards;
}

.Head_Banner.Next .Head_Banner_List .Head_side_Banner:nth-child(3) {
    z-index: 1;
    animation: GotoItem2 1s ease-in-out 1 forwards;
}

.Head_Banner.Prev .Head_Banner_List .Head_side_Banner:nth-child(1) {
    z-index: 2;
    animation: BacktoItem2 1s ease-in-out 1 forwards;
}

.Head_Banner.Prev .Head_Banner_List .Head_side_Banner:nth-child(2) {
    z-index: 1;
    animation: BacktoItem3 1s ease-in-out 1 forwards;
}

.Head_Banner.Prev .Head_Banner_List .Head_side_Banner:nth-child(3) {
    z-index: 3;
    animation: BacktoItem1 1s ease-in-out 1 forwards;
}

/* 0 1 0 -> 1 0 0 */
@keyframes GotoItem3 {
    to {
        transform: var(--Headbanner_item3-transform);
        filter: var(--Sideitem-filter) brightness(var(--Sideitem-brightness));
        box-shadow: var(--Sideitem-shadow);
        width: var(--Sideitem-width);
    }
}

/* 0 0 1 -> 0 1 0 */
@keyframes GotoItem1 {
    to {
        transform: var(--Headbanner_item1-transform);
        filter: var(--Mainitem-filter) brightness(var(--Mainitem-brightness));
        box-shadow: var(--Mainitem-shadow);
        width: var(--Mainitem-width);
    }
}

/* 1 0 0 -> 0 0 1 */
@keyframes GotoItem2 {
    to {
        transform: var(--Headbanner_item2-transform);
        filter: var(--Sideitem-filter) brightness(var(--Sideitem-brightness));
        box-shadow: var(--Sideitem-shadow);
        width: var(--Sideitem-width);
    }
}

/* 1 0 0 -> 0 1 0 */
@keyframes BacktoItem1 {
    to {
        transform: var(--Headbanner_item1-transform);
        filter: var(--Mainitem-filter) brightness(var(--Mainitem-brightness));
        box-shadow: var(--Mainitem-shadow);
        width: var(--Mainitem-width);
    }
}

/* 0 1 0 -> 0 0 1 */
@keyframes BacktoItem2 {
    to {
        transform: var(--Headbanner_item2-transform);
        filter: var(--Sideitem-filter) brightness(var(--Sideitem-brightness));
        box-shadow: var(--Sideitem-shadow);
        width: var(--Sideitem-width);
    }
}

/* 0 0 1 -> 1 0 0 */
@keyframes BacktoItem3 {
    to {
        transform: var(--Headbanner_item3-transform);
        filter: var(--Sideitem-filter) brightness(var(--Sideitem-brightness));
        box-shadow: var(--Sideitem-shadow);
        width: var(--Sideitem-width);
    }
}

.whoWeAre div h1 {
    font-family: "Roboto", sans-serif;
    font-optical-sizing: auto;
    font-weight: 400;
    font-style: normal;
    font-variation-settings:
        "wdth" 100;
}

.whoWeAre div p {
    font-family: "Roboto", sans-serif;
    font-optical-sizing: auto;
    font-weight: 400;
    font-style: normal;
    font-variation-settings:
        "wdth" 100;
}

/* middle Banner*/

.dot-active {
    background-color: white;
}

.slideTo-Left {
    animation: slideToLeft 0.5s ease forwards;
}

.fadeIn-item {
    animation: fadeIn 0.5s ease forwards;
}

@keyframes slideToLeft {
    from {
        transform: translateX(100%);
        opacity: 0;
    }

    to {
        transform: translateX(0%);
        opacity: 1;
    }
}

@keyframes fadeIn {
    from {
        opacity: 0;
    }

    to {
        opacity: 1;
    }
}

/* Category */

/* Category */

.Category_Title {
    color: #333;
    text-shadow:
        0 0 10px #bdebff,
        0 0 20px #bdebff,
        0 0 40px #bdebff;
}

.navigation-controls {
    font-family: Arial, Helvetica, sans-serif;
    gap: 30px;
}

.nav-arrow {
    background-color: #434a51;
    color: white;
    border: none;
    border-radius: 50%;
    width: 50px;
    height: 50px;
    font-size: 1.75em;
    cursor: pointer;
    transition: background-color 0.3s ease;
}

.nav-arrow:hover {
    background-color: #7e8c92;
}

.nav-arrow {
    background-color: #434a51;
    color: white;
    border: none;
    border-radius: 50%;
    width: 50px;
    height: 50px;
    font-size: 1.75em;
    cursor: pointer;
    transition: background-color 0.3s ease;
}

.nav-arrow:hover {
    background-color: #7e8c92;
}

/* เพิ่มสไตล์สำหรับจุดบอกสถานะ */
.dot {
    width: 12px;
    height: 12px;
    border-radius: 50%;
    background-color: #d1d5db;
    /* สีเทาสำหรับจุดที่ไม่ได้ active */
    cursor: pointer;
    transition: background-color 0.3s ease;
}

.dot.active {
    background-color: #3b82f6;
    /* สีฟ้าสำหรับจุดที่ active */
}

/* เพิ่ม keyframe สำหรับการ fade in ด้วยการเลื่อนจากแกน X */
/* fadein1 ทำการเลื่อนหน้าแรกไป -100 และจะซ่อนอยู่ในช่วง -100 */
/* และจะแสดงหน้าสองขึ้นมาแทน */
@keyframes fadeIn1 {
    from {
        /* opacity: 0; */
        transform: translateX(-100%);
        /* เปลี่ยนเป็นค่าลบเพื่อเลื่อนจากซ้าย */
    }

    to {
        /* opacity: 1; */
        transform: translateX(0);
    }
}

.fade-in-element1 {
    animation: fadeIn1 1s ease-in forwards;
}

/* fadein 2 เมื่อเลื่อนหน้าสองไปทางขวา +100 เพื่อซ่อน*/
@keyframes fadeIn2 {
    from {
        /* opacity: 0; */
        transform: translateX(0);
        /* เปลี่ยนเป็นค่าลบเพื่อเลื่อนจากซ้าย */
    }

    to {
        /* opacity: 1; */
        transform: translateX(100%);
    }
}

.fade-in-element2 {
    animation: fadeIn2 1s ease-in forwards;
}

/* fadeout 1 จะนำหน้าสองมาแทนที่หน้าแรก*/
@keyframes fadeOut1 {
    from {
        transform: translateX(100%);
    }

    to {
        transform: translateX(0);
    }
}

.fade-out-element1 {
    animation: fadeOut1 1s ease-out backwards;
}

/* fadeout2  จะเลื่อนหน้าแรกไปซ้ายไปทางซ้าย -100 เพื่อซ่อน*/
@keyframes fadeOut2 {
    from {
        transform: translateX(0);
    }

    to {
        transform: translateX(-100%);
    }
}

.fade-out-element2 {
    animation: fadeOut2 1s ease-out backwards;
}