@import "tailwindcss";

/* Footer */

.footer_hover li {
    position: relative;
    overflow: hidden;
}

.footer_hover li::after {
    content: '';
    position: absolute;
    left: 0;
    bottom: 0;
    height: 2px;
    width: 0%;
    background-color: #007bff;
    transition: width 0.5s ease;
}

.footer_hover li:hover {
    color: #007bff;
}

.footer_hover li:hover::after {
    width: 100%;
}